@import './theme.styl'
@import '~vuetify/src/stylus/app.styl'
@import './main.css'

@font-face {
  font-family: TimeBurner;
  src: url('/fonts/timeburnernormal.ttf') format('truetype');
  font-display: auto;
}

@font-face {
  font-family: TimeBurnerBold;
  src: url('/fonts/timeburnerbold.ttf') format('truetype');
  font-display: auto;
}

body {
  font-size: 16px;
}

#app
  font-family: TimeBurner
  color: $theme.primary
  a
    color: white
  h1
    //@extend .display-1
    @extend .mt-3
    @extend .mb-2
    text-transform: uppercase
  h2
    @extend .headline
    @extend .mt-3
    @extend .mb-2
  h3
    @extend .title
    @extend .mt-3
    @extend .mb-1
  h4
    @extend .subheading
    @extend .mt-2
    @extend .mb-1
  h5, h6
    @extend .body-2
    @extend .mt-1
    @extend .mb-1

  &.application--dark nav.toolbar .toolbar__items
    a, .btn, .list__tile_title
      color: $theme.primary

  .menu__content .list__tile,
  .navigation-drawer .list__tile__title
    color: $theme.primary
    text-transform: uppercase
  .navigation-drawer .list__tile__action .icon
    color: $theme.primary
  .container
    max-width: 1280px;
    ul
      &.card
        @extend .elevation-9
      li
        padding: 5px
        margin: 0
        background: inherit
  .subheader
    color: $theme.primary

  .vue-js-switch .v-switch-core[data-v-8e1836c0]:before
    z-index: 1

  .products ul li
    margin-left: 2rem !important

  .material-icons
    display: none
